In [ ]:
import os
import pandas as pd



class EventEngine:
    def __init__(self):
        self._data_file = 'event_data.csv'
        self.df = self._load_data()

    def _load_data(self):
        """Загружает данные из файла или создает пустой DataFrame"""
        if os.path.exists(self._data_file):
            df = pd.read_csv(self._data_file, index_col=0)
            df = df.fillna(0).astype(int)
            return df
        df = pd.DataFrame()
        df["events"] = []
        return df

    def _save_data(self):
        """Сохраняет DataFrame в файл"""
        self.df.to_csv(self._data_file)

    def add_user(self, user_name):
        """Добавляет нового пользователя как столбец с нулевыми значениями"""
        if user_name not in self.df.columns:
            # Если DataFrame пустой, нужно инициализировать его с правильной структурой
            self.df[user_name] = [0]*len(self.df)

    def add_event(self, event_name):
        """Добавляет новое событие как строку с нулевыми значениями"""
        new_idx = len(self.df)
        new_row = [event_name]+ [0]*(len(self.df.columns)-1)
        print(f"new_idx:{new_idx}, new_row:{new_row}")
        self.df.loc[event_name] = new_row
        #self._save_data()

    def get_event_count(self, user_name, event_name):
        return int(self.df.loc[event_name][user_name])

    def mark_event(self, user_name, event_name, value = None):
        if not value:
            value = self.df.loc[event_name, user_name]+1
        self.df.loc[event_name, user_name] = value
        return self.df.loc[event_name, user_name]
    
    def export(self):
        """
        Возвращает список словарей, каждый из которых эквивалентен строке DataFrame
        
        Returns:
            list: Список словарей, где каждый словарь представляет строку данных
                  с ключами: 'event' (имя события) и именами пользователей как ключами
        """
        # Сбрасываем индекс, чтобы имя события стало колонкой
        df_reset = self.df.reset_index()
        df_reset = df_reset.rename(columns={'index': 'event'})
        
        # Преобразуем в список словарей
        return df_reset.to_dict('records')
    
    def get_rate(self, user_name, events_list):
        count = 0
        for event_name in events_list:
            count+=self.get_event_count(user_name,event_name)
        return count

In [115]:
a = EventEngine()
a.add_event("e1")
a.add_user("u1")
a.add_event("e2")
a.add_user("u2")
a.df

new_idx:0, new_row:['e1']
new_idx:1, new_row:['e2', 0]

   events  u1  u2
e1     e1   0   0
e2     e2   0   0

In [116]:
a.get_event_count("u2", "e1")

0

In [117]:
a.mark_event("u2", "e1")

np.int64(1)

In [118]:
a.get_event_count("u2", "e1")

1

In [ ]:
a.export()

[{'event': 'e1', 'events': 'e1', 'u1': 0, 'u2': 1},
 {'event': 'e2', 'events': 'e2', 'u1': 0, 'u2': 0}]

:

In [31]:
df.loc[len(df)] = [1,2]
df

   events  users
0       1      2

In [4]:
df.loc[len(df)] = ["e4", 1,10]

In [5]:
df

  event  user1  user2
0    e1      0      1
1    e2      0      0
2    e3      1      1
3    e4      1     10

In [6]:
len(df)

4